#  __  ____  ____  __ _  ____  __  _  _       __   __    ____  ____  __    ___  __ _ 
# /  \(  _ \(  __)(  ( \/ ___)(  )( \/ )     / _\ (  )  / ___)(_  _)/ _\  / __)(  / )
#(  O )) __/ ) _) /    /\___ \ )( / \/ \    /    \ )(   \___ \  )( /    \( (__  )  ( 
# \__/(__)  (____)\_)__)(____/(__)\_)(_/    \_/\_/(__)  (____/ (__)\_/\_/ \___)(__\_)


# Minimum configuration for the impatient.
#
# !!!! YOU MUST CHANGE AT LEAST THE HOSTNAME BELOW !!!!!"
#
# VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV 
OPENSIM_HOSTNAME=${OPENSIM_HOSTNAME:-opensim}
# ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

# First-run provisioning mode.
#    guided - Do not start any bots or simulators, instead the user is expected
#             to use the web-based guided setup to configure the grid and
#              create a bot user.
#    auto   - Automatically create a standalone simulator, region and bot user
#    grid   - Automatically create a robus service, grid simulator, regiona bot user
OPENSIM_PROVISION_MODE=${OPENSIM_PROVISION_MODE:-guided}

# If you use `auto` or `grid` provisioning mode, the following values will be used to
# create the initial simulators, region, estate an bot user. You can change these 
# values to whatever you like, but make sure you change the password to something secure.

OPENSIM_ESTATE_NAME=Botland
OPENSIM_ESTATE_ARCHIVE=blank
OPENSIM_REGION_X=1000
OPENSIM_REGION_Y=1000
OPENSIM_GRID_NAME=Bot Grid
OPENSIM_GRID_NICK=botgrid
OPENSIM_WELCOME_MESSAGE="Welcome to ${OPENSIM_GRID_NAME:-Bot Grid}!"
OPENSIM_USER_EMAIL=admin@example.com
OPENSIM_USER_FIRST=Bot
OPENSIM_USER_LAST=Handler
OPENSIM_USER_PASSWORD=changeme

# If you want to create a bot user on first startup, set this to true and provide the following details. Otherwise, leave it false and create your bot user manually.
OPENSIM_CREATE_BOT_USER=true
OPENSIM_BOT_FIRST=Bot
OPENSIM_BOT_LAST=User
OPENSIM_BOT_EMAIL=bot@localhost
OPENSIM_BOT_APPEARANCE=Cube Bot
OPENSIM_BOT_GENDER=neutral

# Basic configuration
#
# If using guided provisioning mode, you can leave these values as-is. 
# If using auto or grid provisioning mode, you can change these values to 
# whatever you like, but make sure you change the password to something secure.

# ---------------------------
# Basic Stack Credentials
# ---------------------------
OPENSIM_CONSOLE_USER=ConsoleUser
OPENSIM_CONSOLE_PASS=ConsolePass

# ADVANCED CONFIGURATION
#
# Anything below this line is optional and can be left as-is for all but advanced users.


# ---------------------------
# IMAGE REFERENCES
# --------------------------

OPENSIM_SPAWNER_IMAGE=bithatch/opensim-spawner:${OPENSIM_TAG:-latest}


# ---------------------------
# Spawner service
# ---------------------------

OPENSIM_SPAWNER_HTTP_PORT=8993
OPENSIM_SPAWNER_HTTP_HOST=0.0.0.0
OPENSIM_SPAWNER_FIRST_PORT=9000
OPENSIM_SPAWNER_LAST_PORT=9015

# ---------------------------
# Docker
# ---------------------------

COMPOSE_PROJECT_NAME=opensim-ai
OPENSIM_PULL_POLICY=missing
OPENSIM_TAG=latest
OPENSIM_GROUP="bithatch/"

# ---------------------------
# Network
# ---------------------------
 
OPENSIM_NETWORK="${COMPOSE_PROJECT_NAME:-opensim-ai}_default"
OPENSIM_ROBUST_PUBLIC_PORT=8002
OPENSIM_ROBUST_PRIVATE_PORT=8003
